body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: white;
}

.jumbotron {
    background: none;
    padding: 20px 0 20px 0;
    font-family: 'Luckiest Guy', cursive;
}

h1 {
    font-size: 20mm;
    letter-spacing: 5px;
}

#play {
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 5px;
    font-size: 10mm;
}

.container {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.35);
    border: 5px solid black;
    height: 500px;
    width: 60%;
    text-align: center;
}

#timer,
#question,
#answer {
    color: black;
}

#question {
    font-size: 8mm;
    font-weight: bold;
}

#answer {
    font-size: 8mm;
}

.answerOptions:hover {
    font-weight: bold;
}

.btn {
    position: relative;
    bottom: -200px;
  }



